services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: tech-php
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    container_name: tech-nginx
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - appnet

  mysql:
    image: mysql:8
    container_name: tech-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: technical
    ports:
      - "3307:3306"
    networks:
      - appnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: tech-pma
    environment:
      PMA_HOST: mysql
    ports:
      - "8081:80"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
