body {
    font-family: DejaVu Sans, sans-serif;
    margin: 30px;
}

.content {
    font-size: 14pt;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.qr {
    margin-top: 30px;
}

.qr img {
    width: 200px;
}
